* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font: inherit;
}
body {
   background-color: darkorange;
   color: black;
   text-align: center;
}
h1 {
   font-size: 3rem;
   margin-block: 1rem;
}
h2 {
   font-size: 1.6rem;
}
button {
   font-size: 1.6rem;
   padding-inline: 1rem;
   cursor: pointer;
   margin-block: 1rem;
}
