*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font: inherit;
}
html,
body {
   width: 100%;
   height: 100%;
}
img,
svg,
Picture {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
}
h1 {
   font-size: 3rem;
}
h2 {
   font-size: 1.4rem;
}
h3 {
   font-size: 1.2rem;
}
body {
   background-color: #65564f;
   color: black;
}
header,
footer {
   background-color: #e0ddda;
   max-width: 992px;
   margin-inline: auto;
}
main {
   display: grid;
   max-width: 992px;
   margin-inline: auto;
   margin-block: 1rem;
   gap: 1rem;
   grid-template-columns: 3fr 2fr;
   grid-template-rows: 1fr auto;
   grid-template-areas:
      "vafl side"
      "slgB slgB"
      "oppg oppg";
}
button {
   font-size: 1.2rem;
   cursor: pointer;
}

#vaffelbod {
   grid-area: vafl;
   background-color: #e0ddda;
}
#stats {
   grid-area: side;
   background-color: #e0ddda;
}
#salgsBord {
   height: 350px;
   grid-area: slgB;
   background-color: #e0ddda;
   position: relative;
}
#oppgraderinger {
   grid-area: oppg;
   background-color: #e0ddda;
}
.vaffelFlex {
   display: flex;
   justify-content: space-around;
}
.vaffelFlex button {
   padding-inline: 1rem;
   padding-block: 0.5rem;
}
.vaffelFlexBarn {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
}
.vaffelFlexBarneBarn {
   display: flex;
   gap: 1rem;
   flex-direction: column;
}
#vaffelMiks {
   width: 160px;
   height: 160px;
   background-image: url("bilder/vaffelMiks.svg");
   background-position-x: 0%;
   background-repeat: no-repeat;
   background-size: 1200%;
}
#vaffelJern {
   width: 120px;
   height: 120px;
   background-image: url("bilder/vaffelJern.svg");
   background-position-x: 0%;
   background-repeat: no-repeat;
   background-size: 800%;
}
#vaffelRist {
   position: relative;
   padding: 1rem;
}
#vaffelRistGrafikk {
   position: absolute;
   z-index: 1;
   top: 1rem;
   left: 1rem;
   width: 400px;
}
.vaffelGrafikk {
   position: absolute;
   left: 0; /* Justere denne verdien for hver ny vaffel */
}
.vaflerTilSalgs1,
.vaflerTilSalgs2,
.vaflerTilSalgs3,
.vaflerTilSalgs4,
.vaflerTilSalgs5,
.vaflerTilSalgs6,
.vaflerTilSalgs7 {
   z-index: 2;
   width: 100px;
   height: 100px;
}
ol {
   margin-inline-start: 2rem;
}
.deaktivert {
   opacity: 0.4;
   cursor: default;
}
