/* Style the tab */
.faneBoks {
   overflow: hidden;
   border: 1px solid var(--clr-border);
   background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.faneBoks button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
.faneBoks button:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.faneBoks button.active {
   background-color: #ccc;
}

/* Style the tab content */
.faneInnhold {
   display: none;
   font-family: "Roboto Mono", monospace;
   background-color: var(--clr-code);
   border: 1px solid var(--clr-border);
   border-top: none;
   border-bottom-left-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   padding-block: 0.5rem;
   padding-inline: 1rem;
}
.faneInnhold p {
   margin: 0;
}

/*https://www.w3schools.com/howto/howto_js_tabs.asp*/
