@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap");
* {
   box-sizing: border-box;
   margin: 0;
}
:root {
   --clr-main: #14151f;
   --clr-section: #262738;
   --clr-body: #07070b;
   --clr-text: #a8a8a8;
   --clr-border: #57637a;
   --clr-button: #0b0c13;
   --clr-aside: #1a1c29;
   --clr-code: #1f1f1f;

   --clr-safir: #1fa6e2;
   --clr-akvamarin: #33c9c4;
   --clr-amazonitt: #35b06f;
   --clr-smaragd: #839e53;
   --clr-citrin: #e6ce2f;
   --clr-spessartin: #e68d2f;
   --clr-rubin: #ec4f28;
   --clr-thulitt: #c973af;
   --clr-kunzitt: #b18bf4;
   --clr-ametyst: #7b77ff;
}
h1,
h2,
h3 {
   font-family: "Roboto Slab", serif;
   margin-block-start: 1rem;
}
p,
ul {
   margin-block: 0.5rem;
}
hr {
   margin-block-start: 2rem;
}
body {
   background-color: var(--clr-body);
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   color: var(--clr-text);
   line-height: 150%;
}
main {
   background-color: var(--clr-main);
   max-width: 1200px;
   margin-inline: auto;
   margin-block: 2rem;
   padding: 1rem;
}
section {
   background-color: var(--clr-section);
   border: 1px solid var(--clr-border);
   max-width: 1000px;
   margin-inline: auto;
   margin-block: 2rem;
   padding-block: 1rem;
   padding-inline: 2rem;
}
code {
   font-family: "Roboto Mono", monospace;
   background-color: var(--clr-code);
   border: 1px solid var(--clr-border);
   padding-inline: 0.25rem;
   border-radius: 0.25rem;
}
.innrykk {
   margin-inline-start: 2rem;
}
.kodeBlokk {
   display: block;
   font-family: "Roboto Mono", monospace;
   background-color: var(--clr-code);
   border: 1px solid var(--clr-border);
   border-radius: 0.5rem;
   padding-block: 0.5rem;
   padding-inline: 1rem;
}
.testKnapp {
   font: inherit;
   background-color: var(--clr-button);
   border: 1px solid var(--clr-border);
   color: var(--clr-text);
   border-radius: 0.5rem;
   padding-block: 0.25rem;
   padding-inline: 1rem;
   margin-block: 1rem;
}
.eksVar {
   color: #569cd6;
}
.eksNavn {
   color: #4fc1db;
}
.eksDoc {
   color: #9cdcfe;
}
.eksReg {
   color: #4ec9b0;
}
.eksNum {
   color: #b5cea8;
}
.eksStr {
   color: #ce9178;
}
.eksQue {
   color: #dcdcaa;
}
.kommentarEksempel {
   color: #6a9955;
}
