* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before {
    font-size: 1.2rem;
}
:root {
    --clr-safir: #1fa6e2;
    --clr-akvamarin: #33c9c4;
    --clr-amazonitt: #35b06f;
    --clr-smaragd: #839e53;
    --clr-citrin: #e6ce2f;
    --clr-spessartin: #e68d2f;
    --clr-rubin: #ec4f28;
    --clr-thulitt: #c973af;
    --clr-kunzitt: #b18bf4;
    --clr-ametyst: #7b77ff;
}
body {
    background-color: #0d2325;
    height: 100%;
}
main {
    width: max-content;
    margin-inline: auto;
    background-color: darkslategray;
    height: 100%;
    width: 80%;
    max-width: 1400px;
    color: rgb(224, 233, 192);
    padding-block-end: 5rem;
}
h1 {
    padding-block-start: 3rem;
    margin-block-end: 1rem;
    text-align: center;
}
h2 {
    padding-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline: 1rem;
    text-align: center;
}
.safir {
    background-color: var(--clr-safir);
}
.akvamarin {
    background-color: var(--clr-akvamarin);
}
.amazonitt {
    background-color: var(--clr-amazonitt);
}
.smaragd {
    background-color: var(--clr-smaragd);
}
.citrin {
    background-color: var(--clr-citrin);
}
.spessartin {
    background-color: var(--clr-spessartin);
}
.rubin {
    background-color: var(--clr-rubin);
}
.thulitt {
    background-color: var(--clr-thulitt);
}
.kunzitt {
    background-color: var(--clr-kunzitt);
}
.gridRow {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
    width: 80%;
    margin-inline: auto;
    margin-block-end: 2rem;
}
.flex {
    display: flex;
    outline: 2px solid cadetblue;
    border-radius: 0.25rem;
    background-color: #112f32;
    height: 100%;
}
.flexAlign {
    display: flex;
    outline: 2px solid cadetblue;
    border-radius: 0.25rem;
    background-color: #112f32;
    height: 100%;
}
.block {
    display: block;
    outline: 2px solid cadetblue;
    border-radius: 0.25rem;
    background-color: #112f32;
    height: 100%;
}
.blockInline {
    display: inline-block;
    outline: 2px solid cadetblue;
    border-radius: 0.25rem;
    background-color: #112f32;
    height: 100%;
}
.flex > *,
.flexAlign > *,
.block > *,
.blockInline > * {
    width: 20px;
    height: 20px;
    border: 1px red solid
}
.alignCenter {
    align-items: center;
}
.alignEnd {
    align-items: end;
}
.alignStart {
    align-items: start;
}
.alignEvenly {
    align-items: center;
    justify-content: space-around;
}
.alignEksempler {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-inline: 10%;
    row-gap: 1rem;
    column-gap: 2rem;
    margin-block-end: 4rem;
    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
    }
}
code {
    display: inline-block;
    color: #ffffff;
    outline: 2px solid cadetblue;
    border-radius: 0.25rem;
    padding: 1rem;
    padding-inline-end: 2rem;
    font-size: 1rem;
    background-color: rgb(9, 28, 29);
}
.name {
    color: #7bc9ea;
}
.atr {
    color: #d58888;
}
.spaceBetween {
    justify-content: space-between;
}
.center {
    justify-content: center;
}
.baseline {
    justify-content: baseline;
}
.end {
    justify-content: right;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}

