* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.flexbeholder {
  display: flex;
  max-width: 1300px;
  height: 800px;
  border: 3px red solid;
  margin-inline: auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.child {
  flex-basis: 500px;
  border: 3px solid blue;
  flex-grow: 0;
  flex-shrink: 1;
  /* margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem; */
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
p {
  max-width: 80ch;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lightblue;
}
h2 {
  margin-block-end: 20px;
}
