body {
    display: flex;
    height: 800px;
    width: 1000px;
    align-items: center;
    background-color: darkslategray;
    border: 2px solid red;
    justify-content: center;
}
img {
    width: 250px;
    padding: 1rem;
}
p {
    max-width: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: lightcyan;
}